<div class="card">
    <div class="card-header">
        <div  *ngIf="afForm.value.length == 0" class="row row-md mt-2">
            <div>
                <em class="fa fa-lg fa-question-circle" style="padding-right: 0.2rem" aria-hidden="true"></em>
                <small>
                   Sélectionnez un ou plusieurs cadre d'acquisition pour les faire apparaître sur le graphique
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <pnx-acquisition-frameworks
                   [multiSelect]="true"
                   [parentFormControl]="afForm"
                   label="{{ 'MetaData.AcquisitionFramework' | translate}}"
                   (onChange)="searchAF()"
                   (onDelete)="searchAF()"
               >
                </pnx-acquisition-frameworks>
            </div>
        </div> 
    </div>
</div>

<div style="display: block ; width: 90%; height: 50vh"  class="ml-3">
    <canvas baseChart [data]="chartData" type="bar" [options]=lineChartOptions>
    </canvas>
</div>

<br />